if SHIELD_FDM_LEFT

  config ZMK_KEYBOARD_NAME
    default "split kb"

  config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FDM_LEFT || SHIELD_FDM_RIGHT

  config ZMK_SPLIT 
    default y 

  config ZMK_SPLIT_BLE
    default y

endif

if SHIELF_FDM_RIGHT
  
  config ZMK_SPLIT_ROLE_CENTRAL
    default n 

  config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

endif
